<ul class="list-group">
    <li class="quiz-list-item list-group-item">
        中国股市阿贵指数调查2016版
        <div class="quiz-list-area">
            <button class="quiz-list-btn btn btn-info" ui-sref="admin.edit">编辑</button>
            <button class="quiz-list-btn btn btn-danger">删除</button>
        </div>
    </li>
    <li class="quiz-list-item list-group-item">
        另一个调查问卷
        <div class="quiz-list-area">
            <button class="quiz-list-btn btn btn-info" ui-sref="admin.edit">编辑</button>
            <button class="quiz-list-btn btn btn-danger">删除</button>
        </div>
    </li>
    <li class="quiz-list-item list-group-item">
        问卷测试
        <div class="quiz-list-area">
            <button class="quiz-list-btn btn btn-info" ui-sref="admin.edit">编辑</button>
            <button class="quiz-list-btn btn btn-danger">删除</button>
        </div>
    </li>
</ul>