html(lang="zh_CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title=title
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        // Bootstrap core CSS
        link(href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='stylesheets/jumbotron.css', rel='stylesheet')
        // Just for debugging purposes. Don't actually copy these 2 lines!
        //if lt IE 9
            script(src='../../assets/js/ie8-responsive-file-warning.js')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js')
            script(src='//cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            div.container
                div.navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')=title
                div#navbar.navbar-collapse.collapse
                    form.navbar-form.navbar-right
                        div.form-group
                            input.form-control(type='text', placeholder='用户名/QQ/邮箱')
                        div.form-group
                            input.form-control(type='password', placeholder='密码')
                        button.btn.btn-success(type='submit') 登录
        div.jumbotron
            div.container
                h1 Hello, kevin!
                p 一花一世界
                p 一茶一朋友
                p 占位
                p 占位
                p 占位
                p 占位
                p 占位
                p 占位
                p
                    a.btn.btn-primary.btn-lg(href='#', role='button') 关于阿贵心理指数 &raquo;
        div.container
            // Example row of columns
            div.row
                .col-md-4
                    h2 心理指数
                    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p
                        a.btn.btn-default(href='#', role='button') 点击查看心理指数 &raquo;
                div.col-md-4
                    h2 调查问卷
                    p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                    p
                        a.btn.btn-default(href='#', role='button') 点击填写问卷 &raquo;
                div.col-md-4
                    h2 关于阿贵
                    p 独立证券投资人 | 中国股市量化交易阿贵指数创建人
                    p 趋势交易者 |《中国股市趋势交易之道》作者
                    p 知名十年新浪独立证券评论人 | 知名雪球独立证券评论人
                    p 
                        a(href='#') 雪球 &nbsp
                        a(href='#') 新浪博客 &nbsp
                        a(href='#') 新浪微博 &nbsp
                    p
                        a.btn.btn-default(href='#', role='button') 关于本站 &raquo;
            hr
            footer
                p 在线人数 访问量
                p &copy; Company 2014
                    
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="javascripts/ajax.js")
    