extends layout

block content
    div.jumbotron
        div.container
            h1 客官, 您好!
            br
            p 一花一世界
            br
            p 一茶一朋友
            br
            p 一股一乐趣
            br
            br
            p
                a.btn.btn-warning.btn-lg(href='/about#kezhan', role='button') 关于阿贵龙门客栈 &raquo;
    div.container
        // Example row of columns
        div.row
            .col-md-4
                h2 阿贵心理指数
                p 经过市场的检验，当看多类指数一致看多时，分时见顶下跌，当看空数类指数一致看空时，分时见底上涨。这为股民把握市场的交易节奏，确定买点、卖点，提供了客观的交易参考
                p
                    a.btn.btn-warning(href='/stock', role='button') 点击查看心理指数 &raquo;
            div.col-md-4
                h2 市场调查问卷
                p 调查的目的，在此就简化为一句话吧：通过真实的调查数据，调查分析研究多空指数、分享指数、痛苦指数等与上证指数已经形成的走势和未来可能走势的关联度，特别是在一些重要拐点附近，各个指数与上证指数的关系
                p
                    a.btn.btn-warning(href='/quiz', role='button') 点击填写问卷 &raquo;
            div.col-md-4
                h2 关于阿贵
                p 独立证券投资人 | 中国股市量化交易阿贵指数创建人
                p 趋势交易者 |《中国股市趋势交易之道》作者
                p 知名十年新浪独立证券评论人 | 知名雪球独立证券评论人
                p
                    a.btn.btn-warning(href='/about#', role='button') 新浪博客 &raquo;
                    span &nbsp
                    a.btn.btn-warning(href='/about#', role='button') 新浪微博 &raquo;
                    span &nbsp
                    a.btn.btn-warning(href='/about#', role='button') 雪球 &raquo;
                    span &nbsp
                    a.btn.btn-warning(href='/about#site', role='button') 关于本站 &raquo;

    