extends layout

block content
    div.container.container-with-padding-top
        div.alert.alert-warning.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
            strong 特别提醒：关于1.5、2.5、3.5或4.5调查问卷题目计算起点的说明。是调查统计12月份高点以来账户以下跌为主要特征的数据情况，以分析下降趋势中交易者的账户变化，请选择最接近你的账户在这一段时间变化情况的选项。谢谢。
            // p
                // img(src='images/20160116_073823.jpg', class='center-block')
        div.alert.alert-info.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
            strong 报名：新一期调查志愿者报名开始啦！点击&nbsp
                a.alert-link(href='#') 这里
                &nbsp了解详情
    div.container
        div.page-header
            h1 调查问卷&nbsp
                small=date
        div.progress
            div.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;') 6/10
        include quiz-content
        h3 提交