extends layout

block content
    div.container.container-with-padding-top
            
        - if (success)
            div.alert.alert-info.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
                strong=success
        - if (error)
            div.alert.alert-warning.alert-dismissible(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                    span(aria-hidden='true') &times;
                strong=error
                
        form.reg-form(method='post')
            div.form-group
                label(for='email') 电子邮件
                input#email.form-control(type='email', placeholder='例如：kevin@agui.com', name='email')
            div.form-group
                label(for='user-num') 客官编号
                label#num-info.small.text-warning 
                input#user-num.form-control(type='text', placeholder='例如：AGUI-123 不需要后面的字母', name='num')               
            div.form-group
                label(for='user-name') 昵称
                input#user-name.form-control(type='text', placeholder='例如：阿贵', name='name')
            div.form-group
                label(for='password') 密码
                input#password.form-control(type='password', placeholder='请输入6-16位密码', name='password')
            div.form-group
                label(for='password-re') 确认密码
                input#password-re.form-control(type='password', placeholder='重复密码',name='password_re')
            div.checkbox
                    label
                        input#xieyi(type='checkbox', name='xieyi')
                        同意用户协议
            button#reg-submit.btn.btn-danger(type='submit', disabled="disabled") 提交注册
