extends layout

block content
    div.container.container-with-padding-top
        div.page-header
            h1 注册
        form.reg-form
            div.form-group
                label(for='exampleInputEmail1') 电子邮件
                input#exampleInputEmail1.form-control(type='email', placeholder='例如：kevin@agui.com')
            div.form-group
                label(for='exampleInputEmail1') 客官编号
                input#exampleInputEmail1.form-control(type='email', placeholder='例如：AGUI-123 不需要后面的字母')
            div.form-group
                label(for='exampleInputPassword1') 密码
                input#exampleInputPassword1.form-control(type='password', placeholder='密码')
            div.form-group
                label(for='exampleInputPassword1') 确认密码
                input#exampleInputPassword1.form-control(type='password', placeholder='确认密码')
            div.checkbox
                    label
                        input(type='checkbox')
                        同意用户协议
            button.btn.btn-warning(type='submit') 提交注册