extends layout

block content
    script(type='text/javascript', src='lib/angular-1.4.1.min.js')
    div(ng-app='userPage')
        div.container.container-with-padding-top
            div.page-header
                h3=log
            ul.nav.nav-tabs.nav-justified
                li(role='presentation')
                    a(href='#') 答题记录
                li.active(role='presentation')
                    a(href='#') 个人信息
                - if(/admin/.test(user.group))
                    li(role='presentation')
                        a(href='#') 问卷管理
                - if(/volunteer/.test(user.group))
                    li(role='presentation')
                        a(href='#') 志愿者工作
        div.container

    script(type='text/javascript', src='userPage/userPage.js')