.navbar-inverse {
    background-color: black;
    border-color: transparent;
}
.navbar-inverse a#logo {
    font-size: 25px;
    color: white;
}
.nav-btn {
    margin-left: 3px;
}
#login-status {
    width: 68px;
    height: 16px;
    font-size: 12px;
    color: #EC971F;
}